* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Parkinsans", sans-serif;
    background-color: #E9E9E9;
    color: #222222;
}
h1 {
    font-size: 2.5rem;
    width: fit-content;
    padding: 30px 8px;
}
h2 {
    font-size: 1.25rem;
}
@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
}
h1::after {
    content: "";
    position: absolute;
    width: calc(100% - 16px);
    height: 2px;
    background-color: #383838;
    bottom: 20px;
    left: 8px;
}
.form-control {
    border-radius: 1rem;
}
.form-control:focus {
    box-shadow: none;
    color: #222222;
    border-color: #222222;
    outline: 0;
}
.form-control.is-invalid:focus {
    border-color: #D01919;
    box-shadow: none;
}
.form-control.is-valid:focus {
  border-color: #7532F9;
  box-shadow: none;
}
span {
    padding-left: 0.75rem;
}
.primary-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}
.secondary-btn {
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
}
.submit-btn {
    border: 2px solid #222222;
    background-color: #222222;
    color: #E9E9E9;
    transition: all 0.5s ease;
}
.visit-btn {
    border: 2px solid #7532F9;
    background-color: #fff;
    color: #7532F9;
    transition: all 0.5s ease;
}
.delete-btn {
    border: 2px solid #D01919;
    background-color: #fff;
    color: #D01919;
    transition: all 0.5s ease;
}
@media (min-width: 768px) {
    .primary-btn {
        padding: 0.5rem 3rem;
    }
    .secondary-btn {
        padding: 0.5rem 1.5rem;
    }
}
.submit-btn:hover {
    background-color: #E9E9E9;
    color: #222222;
}
.visit-btn:hover {
    background-color: #7532F9;
    color: #E9E9E9;
}
.delete-btn:hover {
    background-color: #D01919;
    color: #E9E9E9;
}
table tbody tr {
    vertical-align: middle;
}
.border-top-left {
    border-top-left-radius: 1rem;
}
.border-bottom-left {
    border-bottom-left-radius: 1rem;
}
.border-top-right {
    border-top-right-radius: 1rem;
}
.border-bottom-right {
    border-bottom-right-radius: 1rem;
}